body {
    padding-top: 20px;
    margin: 50px;
    font-family: sans-serif;
    font-size: 150%;
    background-color: #6f8090;
}

.container-fluid {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    padding: 10px;
}

.col {
    flex: 1;
}

p {
    color: #90ee90;
}

.headings {
    text-align: center;
    font-weight: bold;
    color: #90ee90;
}

a {
    color: #90ee90;
}

#interests {
    color: #90ee90;
}

#hobbies {
    color: #90ee90;
}

.row-fluid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
}

li {
    display: inline;
    padding: 10px;
}